    <div id="footer_wrap" class="outer">
      <footer class="inner">

    <div id="external links">
      <p>
        <a href="mailto:hyzhang2112@gmail.com">Email</a> |
        <a href="https://github.com/GUG11">GitHub</a> |
        <a href="https://www.linkedin.com/in/huayu-zhang-aa174780">LinkedIn</a> |
        <a href="https://www.quora.com/profile/Huayu-Zhang-1">Quora</a>
      </p>
    </div>
        {% if site.github.is_project_page %}
        <p class="copyright">{{ site.title | default: site.github.repository_name }} maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>


