<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
                    <li style="font-size:1.5em">张华宇<li>
	        		<li><a href="/index-zh">主页</a></li>
		        	<li><a href="#education">学历</a></li>
                    <!-- <li><a href="../CVs/huayu.zhang_full_cv2016.pdf">CV</a></li> -->
	        		<li><a href="#publications">论文</a></li>
                    <li><a href="/">English</a><li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hyzhang2112@gmail.com">邮箱</a></li>
	        		<li><a href="https://github.com/GUG11">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/huayu-zhang-aa174780">LinkedIn</a></li>
                    <li><a href="https://www.quora.com/profile/Huayu-Zhang-1">Quora</li>
                    <li><a href="https://juejin.im/user/57ba00770a2b58006cb236e9/collection">掘金</a></li>
				</ul>
			</footer>
		</body>
	</html>
