<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/#education">Education</a></li>
                    <!-- <li><a href="../CVs/huayu.zhang_full_cv2016.pdf">CV</a></li> -->
	        		<li><a href="/#publications">Publications</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hyzhang2112@gmail.com">email</a></li>
	        		<li><a href="https://github.com/GUG11">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/huayu-zhang-aa174780">LinkedIn</a></li>
                    <li><a href="http://stackexchange.com/users/5198147/huayu-zhang?tab=accounts">Stack</a></li>
                    <li><a href="https://www.quora.com/profile/Huayu-Zhang-1">Quora</li>
				</ul>
			</footer>
		</body>
	</html>
